<div class="row">
  <div *ngFor="let number of favourites; let i = index" class="col-3">
    <div class="card">
      <img
        [src]="
          'https://openweathermap.org/img/wn/' +
          number.list[i].weather[0].icon +
          '@2x.png'
        "
        class="card-img-top w-50"
        alt="{{ number.list[i].weather[0].description }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ number.city.name }}</h5>
        <a class="btn btn-danger" (click)="removeFromFavourites(number)"
          >Scaccia via dai favoriti</a
        >
        <p class="card-text">
          Tempo: {{ number.list[i].weather[0].description }}
        </p>
        <p class="card-text">
          Temperatura Massima: {{ number.list[i].main.temp_max }}°C
        </p>
        <p class="card-text">
          Temperatura Minima: {{ number.list[i].main.temp_min }}°C
        </p>
      </div>
    </div>
  </div>
</div>
